* {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    
}

html {
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(193, 193, 193) solid;
    padding: 1rem;
    position: sticky;
    top: 0;
    background-color: white;
}
.logo-img {
    width: auto;
}
ul {
    display: flex;
    justify-content: center;
    
}

.nav {
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.search {
    width: 25%;
    justify-content: end;
    display: flex;
}

ul li {
    text-decoration: none;
    list-style: none;
    margin-right: 1rem;
    padding: .75rem;
    border-radius: 25px;
    transition: .4s;
    border: 2px transparent solid;
}

.logo {
    width: 25%;
}

ul li a {
    text-decoration: none;
    color: black;
}

ul li:hover {
    cursor: pointer;
    border: 2px black solid;
    
    
}

input {
    background: #f7f7f7;
    border: none;
    padding: 1rem;
    border: none;
    border-radius: 25px;
}

.Section {
    padding: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    height: fit-content;
    display: flex;
    justify-content: center;
    padding-top: auto;
    padding-bottom: auto;
    background-color: white;
    align-content: center;
}

.Projects {
    padding: 3rem;
    height: fit-content;
    display: block;
    justify-content: center;
    padding-top: auto;
    padding-bottom: auto;
    background-color: white;
    align-content: center;
}

.project-list {
    display: flex;
    overflow-x: scroll;
    background: #f8f8f8;
    padding-right: 1rem;
    border-radius: 25px;
    height: fit-content;

    padding: 1rem;
}

.project {
    margin-right: 2rem;
    padding-right: .5rem;
    padding-left: .5rem;
    transition: .4s;
    text-align: center;
    border-radius: 25px;
    border: 1px solid transparent;
    
}

.project:hover {
    background-color: #DBF4FF;
    cursor: pointer;
    transform: scale(1.05);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: .5rem;
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    margin-bottom: .5rem;
    font-size: 1.5rem;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.img {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

img {
    margin-top: auto;
    margin-bottom: auto;
    transition: .4s;
    width: 100%;
}


.text {
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
    
}

button {
    border: 2px black solid; 
    margin-top: 1rem;
    padding: .75rem;
    border-radius: 25px;
    background-color: white;
    font-weight: bold;
    color: black;
    font-size: 1rem ;
    transition: .1s;
}

button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.w-100 {
    width: 100%;
}

.block {
    display: block;
}

p {
    margin-bottom: .5rem;
}

